/.htaccess
/.env
/.env.backup
/.env.local
/.env.testing
/.env.production
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/framework/views
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.phpunit.result.cache
/public/user_files
